.cell {
    height: 64px;
    width: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell.cell_black {
    background-color: #0dcaf0;
}

.cell.cell_white {
    background-color: #cff4fc;
}

.piece {
    width: 50px;
    height: 50px;
}

.piece.piece_black-man {
    background-image: url("/images/black-man.png");
}

.piece.piece_white-man {
    background-image: url("/images/white-man.png");
}

.piece.piece_black-king {
    background-image: url("/images/black-king.png");
}

.piece.piece_white-king {
    background-image: url("/images/white-king.png");
}
