<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Checkers beta 1.0</title>
    <link href="/styles/main.css" rel="stylesheet">
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    >
</head>
<body>
<nav class="navbar bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Checkers</a>
    </div>
</nav>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <form method="post" action="/room/create">
                        <div class="mb-3">
                            <h4 class="text-center">Создание комнаты</h4>
                        </div>

                        <div class="mb-3">
                            <label for="room-name" class="form-label">Название комнаты</label>
                            <input type="text" name="name" class="form-control" id="room-name" placeholder="Название комнаты" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Выберите цвет</label>
                            <div class="d-flex gap-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="color" id="color-white" value="WHITE" checked>
                                    <label class="form-check-label" for="color-white">Белые</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="color" id="color-black" value="BLACK">
                                    <label class="form-check-label" for="color-black">Чёрные</label>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Создать</button>

                            <a href="/login" class="btn btn-outline-primary" role="button">Назад</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
